In [1]:
#1 获取数据
#2 基本数据处理
#2.1 缺失值处理
#2.2 确定特征值，目标值
#2.3 分割数据
#3 特征工程（标准化）
#4 机器学习（逻辑回归）
#5 模型评估

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report,roc_auc_score

In [3]:
data = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/breast-cancer-wisconsin.data')
data

     1000025  5   1  1.1  1.2  2 1.3   3  1.4  1.5  2.1
0    1002945  5   4    4    5  7  10   3    2    1    2
1    1015425  3   1    1    1  2   2   3    1    1    2
2    1016277  6   8    8    1  3   4   3    7    1    2
3    1017023  4   1    1    3  2   1   3    1    1    2
4    1017122  8  10   10    8  7  10   9    7    1    4
..       ... ..  ..  ...  ... ..  ..  ..  ...  ...  ...
693   776715  3   1    1    1  3   2   1    1    1    2
694   841769  2   1    1    1  2   1   1    1    1    2
695   888820  5  10   10    3  7   3   8   10    2    4
696   897471  4   8    6    4  3   4  10    6    1    4
697   897471  4   8    8    5  4   5  10    4    1    4

[698 rows x 11 columns]

In [4]:
names = ['Sample code number','Clump Thickness','Uniformity of Cell Size','Uniformity of Cell Shape','Marginal Ashesion','Single Epithelial Cell Size','Bare Nuclei','Bland Chromatin','Normal Nucleoli','Mitoses','Class']
data.columns = names

In [5]:
data

,Sample code number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Ashesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,1002945,5,4,4,5,7,10,3,2,1,2
1,1015425,3,1,1,1,2,2,3,1,1,2
2,1016277,6,8,8,1,3,4,3,7,1,2
3,1017023,4,1,1,3,2,1,3,1,1,2
4,1017122,8,10,10,8,7,10,9,7,1,4
...,...,...,...,...,...,...,...,...,...,...,...
693,776715,3,1,1,1,3,2,1,1,1,2
694,841769,2,1,1,1,2,1,1,1,1,2
695,888820,5,10,10,3,7,3,8,10,2,4
696,897471,4,8,6,4,3,4,10,6,1,4
697,897471,4,8,8,5,4,5,10,4,1,4

In [6]:
#2 基本数据处理
#2.1 缺失值处理
data = data.replace(to_replace='?',value=np.nan)
data = data.dropna()

In [7]:
#2.2 确定特征值，目标值
x = data.iloc[:,1:-1]
x.head()

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Ashesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses
0,5,4,4,5,7,10,3,2,1
1,3,1,1,1,2,2,3,1,1
2,6,8,8,1,3,4,3,7,1
3,4,1,1,3,2,1,3,1,1
4,8,10,10,8,7,10,9,7,1

In [8]:
y = data['Class']
y.head()
type(y)

pandas.core.series.Series

In [9]:
#2.3 分割数据
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state=22,test_size = 0.2)

In [10]:
#3 特征工程（标准化）
transfer = StandardScaler()
x_train = transfer.fit_transform(x_train)
x_test = transfer.fit_transform(x_test)
type(x_test)

numpy.ndarray

In [11]:
#4 机器学习（逻辑回归）
estimator = LogisticRegression()
estimator.fit(x_train,y_train)
print(type(y_train))

<class 'pandas.core.series.Series'>

In [12]:
#5 模型评估
#5.1 准确率
ret = estimator.score(x_test,y_test)
print('准确率为\n',ret)
#5.2 预测值
y_pre = estimator.predict(x_test)
print('预测值为：\n',y_pre)

准确率为
 0.9562043795620438
预测值为：
 [2 2 2 2 4 2 2 2 2 2 2 2 2 2 2 4 4 2 2 2 2 2 4 4 4 4 2 4 2 2 2 2 4 2 2 2 2
 2 2 4 2 4 4 2 4 4 2 2 4 4 2 2 4 4 2 4 2 2 2 2 4 2 4 4 2 4 4 2 4 2 2 2 2 2
 2 4 2 4 2 2 2 4 2 2 2 4 2 4 2 2 2 2 2 4 4 2 2 2 4 4 4 2 4 4 2 2 4 4 4 2 2
 2 2 4 4 2 4 2 2 2 4 2 2 2 4 4 2 4 2 4 4 2 4 2 2 2 2]

In [13]:
#5.3 精确率 召回率指标评价

In [14]:
ret = classification_report(y_test,y_pre,labels = (2,4),target_names=('良性','恶性'))
print(ret)

              precision    recall  f1-score   support

          良性       0.95      0.98      0.97        85
          恶性       0.96      0.92      0.94        52

    accuracy                           0.96       137
   macro avg       0.96      0.95      0.95       137
weighted avg       0.96      0.96      0.96       137

In [15]:
#5.4 auc指标计算
# y_test = np.where(y_test>3,1,0)

In [16]:
roc_auc_score(y_test,y_pre)

0.9497737556561086

In [17]:
type(y_test)

pandas.core.series.Series